@charset "UTF-8";
/*
	(C) Adrià Vallès - adriavalles.net
	Hey, don't copy me!! Or, at least, a mention will be appreciated. :)
*/

/* BASE */
* { margin:0; padding:0; }
body { background:#204867 url("../img/bg.jpg") repeat fixed center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; font:normal 14px "Lucida Grande","Trebuchet MS",Verdana,Arial,Helvetica,sans-serif; color:#fff; }
img { border:none; }
a { color:#e5e5e5; text-decoration:none; outline-style:none; -webkit-transition-duration:100ms; -moz-transition-duration:100ms; transition-duration:100ms; }
a:hover { text-shadow:#90dbfd 0 0 12px; }
a:active { position:relative; top:1px; }

html
{
	min-height: 100%;
	position: relative;
}

body
{
	padding-bottom: 20px;
}

body > div#wrapper {
	width:80%;
	max-width:800px;
	margin:20px auto;
	overflow:hidden;
}

/* Email */
div#email {
	display: block;
	width:100%;
	font-size:65px;
	text-align:center;
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding:10px 0;
	margin:130px 0 80px;
	color:#fff;
	text-shadow:#33526e 0 1px 1px;
}
div#email:hover {
	text-shadow:#90dbfd 0 0 12px;
	-webkit-transition-duration:300ms;
	-moz-transition-duration:300ms;
	transition-duration:300ms;
	cursor:default;
}

/* Links */
section#links > section {
	float:left;
	width:32%;
	min-width:200px;
	color: #dcdcdc;
	margin:20px 0;
}
	section#links > section > ul > li > h1 {
		font-weight:bold;
		font-size:1em;
		display:inline;
	}
	section#links > section > h3 {
		color:#fff;
		font-size:0.9em;
		text-transform:uppercase;
		margin-bottom:5px;
	}
	section#links > section > ul > li {
		list-style:none;
	}
	section#links > section > ul > li > a{
		display:block;
	}
	section#links > section > ul > li > span.since {
		opacity:0.5;
		float:right;
		display:block;
		font-size:0.7em;
	}

/* Footer */
footer {
	color:#bbb;
	font-size:0.8em;
	text-align:center;
	width:100%;
	opacity:0.5;
	height:20px;
	position: absolute;
	left: 0;
	right: 0;
	bottom:5px;
}
footer a {
	text-decoration:none;
	border:0;
}
footer a:hover {
	border-bottom:1px solid;
	background:none;
	color:inherit;
}
footer span#ampersand {
	font-family:'Book Antiqua', sans-serif;
	font-style:italic;
}

/* Fade in animation */
body > div#wrapper {
	opacity:0;

	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	animation-duration:2s;

	-webkit-animation-delay:0.5s;
	-moz-animation-delay:0.5s;
	animation-delay:0.5s;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }